body {
	padding: 0;
	margin: 0;
	background: rgb(21, 21, 21);
	/*background: white;*/
	font-family: Helvetica;
	color: rgb(188, 188, 188);
}
.container {
	position: fixed;
	width: 99%;
	height: 100%;
}
#container-info {
	position: relative;
	display: inline-block;
	max-width: 250px;
	width: 20%;
	height: inherit;
	background: rgb(30, 30, 30);
}
#container-info div:nth-child(1) {
	height: 60%;
}
#container-info .track-info {
	width: initial;
	height: 270px;
	position: relative;
	bottom: 36px;
}
#container-info .track-info #cover {
	width: 100%;
	margin-bottom: 5px;
}
#container-info .track-info span {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	width: 100%;
	margin-left: 3px;
	font-size: 14px;
}
#container-info .track-info span:last-child {
	font-size: 13px;
}
#container-tracks {
	position: fixed;
	display: inline-block;
	width: 80%;
	height: inherit;
	overflow-x: hidden;
	overflow-y: scroll;
}
#container-tracks ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-bottom: 40px;
}
#container-tracks ul li {
	height: 30px;
	padding: 5px 10px;
	border-bottom: 1px solid rgb(46, 46, 46);
	font-size: 14px;
}
#container-tracks ul li:hover {
	background: rgb(38, 38, 38);
	color: #FFF;
}
#container-tracks ul li:hover span:nth-child(1){
	background: url('../images/play-shadow.png') no-repeat 0;
}
#container-tracks ul li span:nth-child(1) {
	display: inline-block;
	width: 30px;
	height: inherit;
	margin-right: 15px;
	background: url('../images/tick.png') no-repeat 0;
}
#container-tracks ul li span:nth-child(1):hover {
	background: url('../images/play.png') no-repeat 0;
}
#container-tracks ul li span:nth-child(2) {
	display: inline-block;
	height: inherit;
}
#container-tracks ul li span:nth-child(2) div {
	display: table-cell;
	height: inherit;
	vertical-align: middle;
}
#playerControls {
	position: fixed;
	bottom: 0;
	width: 95%;
	height: 30px;
	padding: 5px 25px;
	border-top: 1px solid rgb(46,46,46);
	background: rgb(30, 30, 30);
}
#playerControls > div {
	display: inline-block;
	height: inherit;
}
#playerControls .arrow {
	width: 15px;
}
#playerControls .left {
	background: url('../images/previous-shadow.png') no-repeat 0 / 70%;
}
#playerControls .left:hover {
	background: url('../images/previous.png') no-repeat 0 / 70%;
}
#playerControls .right {
	margin-left: 3px;
	background: url('../images/next-shadow.png') no-repeat 0 / 70%;
}
#playerControls .right:hover {
	background: url('../images/next.png') no-repeat 0 / 70%;
}
#playerControls .playButton {
	width: 30px;
	background: url('../images/play-shadow.png') no-repeat 0;
}
#playerControls .playButton:hover {
	background: url('../images/play.png') no-repeat 0;
}
#playerControls .volume {
	width: 135px;
	margin: 0 3px 0 20px;
}
#playerControls .volume > div {
	display: inline-block;
	height: inherit;
}
#playerControls .volume > div:nth-child(1) {
	width: 100px;	
}
#playerControls .volume > div:nth-child(1) > div {
	display: table-cell;
	width: inherit;
	height: inherit;
	vertical-align: middle;
}
#playerControls .volume > div:nth-child(1) > div > span {
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background: grey;
}
#playerControls .volume > div:nth-child(1) > div > span > span {
	display: block;
	position: relative;
	top: -5px;
	left: 90%;
	width: 13px;
	height: 13px;
	background: white;
	border-radius: 100%;
}
#playerControls .volume > div:nth-child(2) {
	width: 20px;
	margin-left: 6px;
	background: url('../images/volume.png') no-repeat 0 /75%;
}