body {
	padding: 0;
	margin: 0;
	background: rgb(21, 21, 21);
	font-family: Helvetica;
	color: rgb(216,216,216);
}
.selected {
	background: rgb(38, 38, 38);
	color: #FFF;
}
.checked {
	background: url('../images/tick.png') no-repeat 0 / contain;
}
.checked:hover {
	background: url('../images/play.png') no-repeat 0 / contain;
	cursor: pointer;
}
.play {
	background: url('../images/play-shadow.png') no-repeat 0 / contain;
}
.play:hover {
	cursor: pointer;
	background: url('../images/play.png') no-repeat 0 / contain;
}
.play-paused {
	background: url('../images/play.png') no-repeat 0 / contain;
}
.pause {
	background: url('../images/pause-shadow.png') no-repeat 0 / contain;
}
.pause:hover {
	cursor: pointer;
	background: url('../images/pause.png') no-repeat 0 / contain;
}
.container {
	position: fixed;
	width: 100%;
	height: 100%;
}
@media (min-width: 1024px) and (max-width: 1366px) {
	#container-info {
		width: 17%;
	}
	#container-tracks {
		width: 83%;
	}
	#container-info .track-info span {
		font-size: 11px;
	}
	#container-info .track-info span:last-child {
		font-size: 11px;
	}
	#container-tracks ul li {
		height: 25px;
	}
}
@media (min-width: 1367px) and (max-width: 1920px) {
	#container-info {
		width: 13%;
	}
	#container-tracks {
		width: 87%;
	}
	#container-info .track-info span {
		font-size: 13px;
	}
	#container-info .track-info span:last-child {
		font-size: 12px;
	}
	#container-tracks ul li {
		height: 30px;
	}
}
#container-info {
	position: relative;
	display: inline-block;
	height: inherit;
	background: rgb(30, 30, 30);
}
#container-info .cover-shadow {
    position: absolute;
	
    width: 100%;
    height: 100%;
}
#container-info .cover-shadow img {
    position: absolute;
	
    height: inherit;
    left: -246.5px;
    -webkit-filter: blur(4px);
    opacity: .35;
}
#container-info .block-cover-shadow {
	position: absolute;
	width: 100%;
	height: inherit;
}
#container-info .playlists {
	position: relative;
	height: 60%;
}
#container-info .playlists h2 {
    padding-left: 5px;
    font-size: 12px;
}
#container-info .playlists ul {
    list-style-type: none;
    margin: 0px 0;
    padding: 0 15px;
}
#container-info .playlists ul:before {
	content: attr(aria-label);
    display: inline-block;
	width: calc(100% - 10px);
	padding: 2px 0px;
	cursor: pointer;
    font-size: 13px;
}
#container-info .playlists ul li {
    padding: 2px 0 2px 10px;
    cursor: pointer;
    font-size: 12px;
}
#container-info .track-info {
	position: absolute;
	bottom: 53px;
	width: 100%;
}
#container-info .track-info #cover {
	width: 100%;
	margin-bottom: 5px;
}
#container-info .track-info span {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 0 0 0px 8px;
	overflow: hidden;
	white-space: nowrap;
}
#container-tracks {
	display: inline-block;
	position: fixed;
	height: calc(100% - 41px);
	overflow-x: hidden;
	overflow-y: scroll;
	background: rgb(21, 21, 21);
}
#container-tracks ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#container-tracks ul li {
	padding: 5px 10px;
	border-bottom: 1px solid rgb(46, 46, 46);
	font-size: 13px;
}
#container-tracks ul li:hover {
	background: rgb(38, 38, 38);
	color: #FFF;
}
#container-tracks ul li span:nth-child(1) {
	display: inline-block;
	width: 30px;
	height: inherit;
	margin-right: 15px;
}
#container-tracks ul li span:nth-child(2) {
	display: inline-block;
	height: inherit;
}
#container-tracks ul li span:nth-child(2) div {
	display: table-cell;
	height: inherit;
	vertical-align: middle;
}
#playerControls {
	position: fixed;
	bottom: 0;
	width: 99%;
	height: 30px;
	padding: 8px 25px;
	border-top: 1px solid rgb(46,46,46);
	background: rgb(30, 30, 30);
}
#playerControls > div {
	float: left;
	height: inherit;
}
#playerControls .arrow {
	width: 15px;
	height: inherit;
	cursor: pointer;
}
#playerControls .controls {
    height: inherit;
}
#playerControls .left {
	float: left;
	margin-right: 7px;
	background: url('../images/previous-shadow.png') no-repeat 0 / 70%;
}
#playerControls .left:hover {
	background: url('../images/previous.png') no-repeat 0 / 70%;
}
#playerControls .right {
	float: left;
	margin-left: 10px;
	background: url('../images/next-shadow.png') no-repeat 0 / 70%;
}
#playerControls .right:hover {
	background: url('../images/next.png') no-repeat 0 / 70%;
}
#playerControls .button {
	float: left;
	width: 30px;
	height: inherit;
	cursor: pointer;
}
#playerControls .volume {
	width: 135px;
	margin: 0px 3px 0 20px;
}
#playerControls .volume .vertical-middle {
	display: table-cell;
}
#playerControls .master {
	width: 100px;
	height: 3px;
	border-radius: 3px;
	background: #555;
}
#playerControls .master div {
	background: rgb(255, 145, 0);
}
#playerControls .master span {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	outline: none;
	background: #FFF;
}
#playerControls .volume #masterVolume {
	width: 100px;
}
#playerControls .progress #masterProgress {
	width: 100%;
}
#playerControls .volume > div {
	float: left;
	height: inherit;
}
#playerControls .volume > div:nth-child(2) {
	width: 20px;
	margin-left: 6px;
	margin-top: 0px;
	background: url('../images/volume.png') no-repeat 0 /75%;
}
#playerControls .progress {
    width: calc(100% - 300px);
    margin-left: 0px;
    margin-top: 13px;
}
#playerControls .progress .bar {
	display: inline-block;
	width: calc(100% - 125px);
	height: inherit;
}
#playerControls .progress span.time {
    display: inline-block;
    position: relative;
    top: -5px;
    width: 40px;
    margin: 0px 5px 0 10px;
    vertical-align: top;
    font-size: 12px;
}
.vertical-middle {
	display: inline-block;
	width: 100%;
	height: inherit;
	vertical-align: middle;
}